@import "../../config.scss";
div.title-bar {
    width: 100%;
    height: 2em;
    background-color: #eeeeee;
    >.close {
        height: 2em;
        width: 2em;
        float: right;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OEEwNEMxRDUwQzIxMTFFQUIwMjI4RTk5N0FGQzhERjAiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OEEwNEMxRDYwQzIxMTFFQUIwMjI4RTk5N0FGQzhERjAiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo4QTA0QzFEMzBDMjExMUVBQjAyMjhFOTk3QUZDOERGMCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo4QTA0QzFENDBDMjExMUVBQjAyMjhFOTk3QUZDOERGMCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PnIoliQAAACfSURBVHjaYmBgYPgPxFMZSAPFUH0M06CMNiI1JkPVb4cJtEEF2gloTISqW40uATOgmYCNK3GZ3AxV0IMmngcVX0HIT71oXoiF8jcQG5otUA3rofQiEmODYQtU4yNSNcZDNV6E0tXEakQPnFocgYgBknAETi+hdACLx+U45FtxpURYyllDwGXt6AaUEko5OFIiODOBGJtIjI1JIH0AAQYAQTE5nQQl2KMAAAAASUVORK5CYII=);
        background-repeat: no-repeat;
        background-position: center;
        &:hover {
            background-color: #dddddd;
        }
    }
    
}

ul {
    display: block;
    width: 320px;
    margin: 0;
    padding: 20px;
    max-height: 75%;
    overflow-y: auto;
    li {
        display: block;
        float: left;
        margin: 19px;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
        width: 240px;
        /* height: 80px; */
        padding: 10px 20px;
        border: $border;
        span {
            font-size: 1.2em;
            font-weight: bolder;
            display: block;
            width: 100%;
            text-align: center;
        }
        a {
            display: block;
            width: 100%;
            text-align: right;
            padding-right: 20px;
        }
    }
    div {
        clear: both;
    }
}

