table {
  display: table;
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 800px;
}

td {
  height: 50px;
  border: 1px solid #ccc;
  padding: 0 10px;
}

td input {
  width: 100%;
  height: 50px;
}

input.ng-valid{
  border: none;
}input.ng-invalid{
  border: none;
  /*border-left: solid 2px red;*/
}

td[caption]{
  width: 20%;
  font-weight: bold;
  text-align: center;
}

td[value]{
  width: 30%;
}

td[input]{
  padding: 0;
}
