<form (ngSubmit)="ds.queryStudent()" #form="ngForm">
    <table class="noborder">
        <tr>
            <td colspan=4>
                <h2>请输入以下信息</h2>
            </td>
        </tr>
        <tr>
            <td caption>学号</td>
            <td input><input type="text" autocomplete="off" required [(ngModel)]="ds.model.query.xh" name="xh" placeholder="请输入学号">
                <!--span [hidden]="xh.valid || xh.pristine" #xh="ngModel" id="xh">请输入学号</span-->
            </td>
        </tr>
        <tr [hidden]="!xmRequired">
            <td caption>姓名</td>
            <td input><input type="text" autocomplete="off" [required]="xmRequired" [(ngModel)]="ds.model.query.xm" name="xm" placeholder="请输入姓名">
                <!--span [hidden]="xm.valid || xm.pristine" #xm="ngModel" id="xm">请输入姓名</span-->
            </td>
        </tr>

    </table>
    <div>
        <button type="submit" [disabled]="!form.form.valid||ds.querying">查找</button>
        <!--button routerLink='/apply'>返回</button-->
        <a (click)="ds.newOrder();do.emit('next')">直接填写信息</a></div>
</form>
<!--div *ngIf="ds.model.message">{{ds.model.message}}</div-->
<div *ngIf="ds.model.student">
    <table>
        <tr>
            <td colspan=4>
                <h2>学生信息</h2>
            </td>
        </tr>
        <tr>
            <td caption>学号</td>
            <td value>{{ds.model.student.xh}}</td>
            <td caption>姓名</td>
            <td value>{{ds.model.student.xm}}</td>
        </tr>
        <tr>
            <td caption>性别</td>
            <td>{{ds.model.student.xb}}</td>
            <td caption>出生日期</td>
            <td>{{ds.model.student.csrq}}</td>
        </tr>
        <tr>
            <td caption>院系</td>
            <td>{{ds.model.student.yx}}</td>
            <td caption>专业</td>
            <td>{{ds.model.student.zy}}</td>
        </tr>
        <tr>
            <td caption>入学时间</td>
            <td>{{ds.model.student.rxsj}}</td>
            <td caption>毕业时间</td>
            <td>{{ds.model.student.bysj}}</td>
        </tr>


    </table>
    <div>
        <button (click)="ds.newOrder(ds.model.student);Do('next');">下一步</button>
    </div>
</div>