<h3>基本信息</h3>
<div table>
	<ul>
		<li>学号</li>
		<li>{{ds.model.order.xh}}</li>
		<li>姓名</li>
		<li>{{ds.model.order.xm}}</li>
	</ul>
	<ul>
		<li>性别</li>
		<li>{{ds.model.order.xb}}</li>
		<li>出生日期</li>
		<li>{{ds.model.order.csrq}}</li>
	</ul>
	<ul>
		<li>院系</li>
		<li>{{ds.model.order.yx}}</li>
		<li>专业</li>
		<li>{{ds.model.order.zy}}</li>
	</ul>
	<ul>
		<li>入学时间</li>
		<li>{{ds.model.order.rxsj}}</li>
		<li>毕业时间</li>
		<li>{{ds.model.order.bysj}}</li>
	</ul>
	<ul>
		<li>联系人</li>
		<li>{{ds.model.order.lxr}}</li>
		<li>联系电话</li>
		<li>{{ds.model.order.lxdh}}</li>
	</ul>
</div>
<h3>选择需要翻译制作的文件材料</h3>
<button routerLink="/input-order"><< 返回上一步</button>
<button type="submit" disabled="!form.form.valid">下一步</button>