<h2>基本信息</h2>
<div table>
	<ul>
		<li>学号</li>
		<li>{{ds.model.order.xh}}</li>
		<li>姓名</li>
		<li>{{ds.model.order.xm}}</li>
	</ul>
	<ul>
		<li>性别</li>
		<li>{{ds.model.order.xb}}</li>
		<li>出生日期</li>
		<li>{{ds.model.order.csrq}}</li>
	</ul>
	<ul>
		<li>院系</li>
		<li>{{ds.model.order.yx}}</li>
		<li>专业</li>
		<li>{{ds.model.order.zy}}</li>
	</ul>
	<ul>
		<li>入学时间</li>
		<li>{{ds.model.order.rxsj}}</li>
		<li>毕业时间</li>
		<li>{{ds.model.order.bysj}}</li>
	</ul>
	<ul>
		<li>联系人</li>
		<li>{{ds.model.order.lxr}}</li>
		<li>联系电话</li>
		<li>{{ds.model.order.lxdh}}</li>
	</ul>
</div>
<h2>制作内容</h2>
<div *ngIf="ds.products">
	<div *ngFor="let item of ds.model.items">
		<h3 *ngIf="item.selected">{{item.product.name}} x {{item.count}}</h3>
	</div>
	<h3>总金额：{{ds.cost }}元</h3>
</div>
<button routerLink="/step3">返回上一步</button>
<button [disabled]="ds.cost<=0">提交</button>