button[number]{
  margin:1px;
  width:30px;
  height:30px;
}

span[number]{  
  margin:0 5px;    
}

input[type=checkbox], input[type=checkbox]+label{
  line-height: 20px;
  font-size: 20px;
  margin:10px 0 0 10px;
  
}

td[product]{
  text-align: left;
}

td[product] div:nth-child(2){
  font-size: 15px;
  margin: 10px;
}