<h2>基本信息</h2>
<div table>
	<ul>
		<li>学号</li>
		<li>{{ds.model.order.xh}}</li>
		<li>姓名</li>
		<li>{{ds.model.order.xm}}</li>
	</ul>
	<ul>
		<li>性别</li>
		<li>{{ds.model.order.xb}}</li>
		<li>出生日期</li>
		<li>{{ds.model.order.csrq}}</li>
	</ul>
	<ul>
		<li>院系</li>
		<li>{{ds.model.order.yx}}</li>
		<li>专业</li>
		<li>{{ds.model.order.zy}}</li>
	</ul>
	<ul>
		<li>入学时间</li>
		<li>{{ds.model.order.rxsj}}</li>
		<li>毕业时间</li>
		<li>{{ds.model.order.bysj}}</li>
	</ul>
	<ul>
		<li>联系人</li>
		<li>{{ds.model.order.lxr}}</li>
		<li>联系电话</li>
		<li>{{ds.model.order.lxdh}}</li>
	</ul>
</div>
<h2>选择需要翻译制作的文件材料</h2>
<div *ngIf="ds.products">
	<div *ngFor="let product of ds.products; index as i">
		<h3>
      <input type="checkbox" [(ngModel)]="ds.model.itemsSelected[i]" (click)="ds.model.itemsCount[i]=1">{{product.name}} 
      <span *ngIf="ds.model.itemsSelected[i]">份数：<span number>{{ds.model.itemsCount[i]}}</span>
      <button [disabled]="ds.model.itemsCount[i]<=1" number (click)="ds.model.itemsCount[i]=ds.model.itemsCount[i]-1">-</button>
      <button number (click)="ds.model.itemsCount[i]=ds.model.itemsCount[i]+1">+</button>
      金额：<span number>{{product.price * ds.model.itemsCount[i]}}元</span></span>
    </h3>
			<p>{{product.descript}}</p>

	</div>
	<h3>总金额：{{ds.cost }}元</h3>
</div>
<button routerLink="/step2">返回上一步</button>
<button routerLink="/step4" [disabled]="ds.cost==0">下一步</button>