<app-apply-top></app-apply-top>
<app-popup apply closeRouterLink='/apply'>
    <app-input-xh (do)="do($event)" *ngIf="ds.model.step==1" [ds]="ds"></app-input-xh>
    <app-input-order (do)="do($event)" *ngIf="ds.model.step==2" [ds]="ds"></app-input-order>
    <app-select-item (do)="do($event)" *ngIf="ds.model.step==3" [ds]="ds"></app-select-item>
    <app-confirm-order (do)="do($event)" *ngIf="ds.model.step==4" [ds]="ds"></app-confirm-order>
    <app-order-complated (do)="do($event)" *ngIf="ds.model.step==5" [ds]="ds" complatedRouterLink="/apply"></app-order-complated>
</app-popup>
<app-conver *ngIf="ds.querying"></app-conver>
<!--app-popup *ngIf="ds.message" (close)="ds.message=null"><div class="alert">
    <pre>{{ds.message}}</pre>
    <button (click)="ds.message=null">关闭</button>
    </div>
</app-popup-->
<app-window-confirm></app-window-confirm>