<table>
    <tr>
        <td colspan=4>
            <h2>基本信息</h2>
        </td>
    </tr>
    <tr>
        <td>学号</td>
        <td>{{order.xh}}</td>
        <td>编号</td>
        <td>{{order.id}}</td>
    </tr>
    <tr>
        <td>姓名</td>
        <td>{{order.xm}}</td>
        <td>英文名</td>
        <td>{{order.xm_e}}</td>
    </tr>
    <tr>
        <td>性别</td>
        <td>{{order.xb}}</td>
        <td>出生日期</td>
        <td>{{order.csrq}}</td>
    </tr>
    <tr>
        <td>院系</td>
        <td>{{order.yx}}</td>
        <td>专业</td>
        <td>{{order.zy}}</td>
    </tr>
    <tr>
        <td>入学时间</td>
        <td>{{order.rxsj}}</td>
        <td>毕业时间</td>
        <td>{{order.bysj}}</td>
    </tr>
    <tr>
        <td>联系人</td>
        <td>{{order.lxr}}</td>
        <td>联系电话</td>
        <td>{{order.lxdh}}</td>
    </tr>
    <tr *ngIf="state=='show'">
        <td>申请表状态</td>
        <td colspan=3>{{order.stateText()}}</td>
    </tr>
    <tr>
        <td colspan=4>
            <h3>制作项目</h3>
        </td>
    </tr>
    <tr>
        <td colspan=4>
            <app-order-item-list [items]="items" [products]="products" [readonly]="mode=='show'"></app-order-item-list>
        </td>
    </tr>
</table>