<app-apply-top></app-apply-top>
<app-popup closeRouterLink="/apply">
    <div apply>
        <app-find-order (do)="do($event)" *ngIf="ds.model.step==1" [ds]="ds"></app-find-order>
        <app-input-order (do)="do($event)" *ngIf="ds.model.step==2" [ds]="ds"></app-input-order>
        <app-select-item (do)="do($event)" *ngIf="ds.model.step==3" [ds]="ds"></app-select-item>
        <app-confirm-order (do)="do($event)" *ngIf="ds.model.step==4" [ds]="ds"></app-confirm-order>
        <app-order-complated complatedRouterLink="/apply" (do)="do($event)" *ngIf="ds.model.step==5" [ds]="ds"></app-order-complated>
    </div>
</app-popup>

<app-conver *ngIf="ds.querying"></app-conver>
<app-window-confirm></app-window-confirm>